
body {
    background-color: #F0FFFF;
}
h1 { font-size: 400%;
     }

.dataOne{
     
}

.dataTwo{
  border: 12px solid #F0FFFF;
  float: left;
  width: 20%;
}
.dataThree{
  border: 12px solid #F0FFFF;
  float: left;
  width: 24%;
}
.dataFour{
  border: 12px solid #F0FFFF;
  float: left;
  width: 24%;
}
.dataFive{
  border: 12px solid #F0FFFF;
  float: left;
  width: 24%;
}
